.image {
    height: 250px;
    background-color: #fff !important;
    padding: 10px !important;
}
img {
    height: 100% !important;
    width: auto !important;
    margin: auto !important;
    max-width: 100%;
}
.grid.container {
    margin-top: 15px;
}

.content .header {
    font-size: 1.2rem !important;
    min-height: 45px;
    max-height: 45px;
    margin-bottom: 5px !important;
    overflow: hidden !important;
}
.price {
    color: #010101c7 !important;
    font-size: 1.6rem !important;
    font-weight: 700;
}
.ui.placeholder .header:not(:first-child):before {
    display: none;
}